{% extends "base.html" %}

{% block title %} Escritorio {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

<div class="right_col" role="main"> <!-- Div principal -->
    <div class="row tile_count"> <!-- Div fila -->
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Aparcamiento</span>
            <div class="count" id="countAparcamiento">0</div>
            <span class="count_bottom"><i class="green">4% </i> From last Week</span>
        </div>
    </div><!-- Fin Div fila -->
</div> <!-- Fin del Div principal -->

{% endblock content %}

